project(example-OuterSample
    DESCRIPTION "A simple C++ project"
    LANGUAGES CXX)
cmake_minimum_required(VERSION 3.13.5)


{{{resource-cmake-defaults}}}


{{{resource-cmake-protobuf}}}


# === Adding individual libraries =============================================

archie_add_proto_lib_file({{cmakeNamespace}}-{{project}} ${CMAKE_CURRENT_SOURCE_DIR}/{{project}}.proto)

archie_add_protogrpc_lib_file({{cmakeNamespace}}-{{project}}grpc ${CMAKE_CURRENT_SOURCE_DIR}/{{project}}.proto)
target_link_libraries({{cmakeNamespace}}-{{project}}grpc {{cmakeNamespace}}-{{project}})
