project({{cmakeNamespace}}-{{project}}
    DESCRIPTION "A standard C++ project"
    LANGUAGES CXX)
cmake_minimum_required(VERSION 3.13.5)

# === Adding individual libraries =============================================

add_custom_target("{{cmakeNamespace}}")

archie_cxx_library_shared("{{cmakeNamespace}}" "{{project}}"
    SRCS      ${CMAKE_CURRENT_SOURCE_DIR}/src/{{projectLower}}.cpp
              ${CMAKE_CURRENT_SOURCE_DIR}/include/{{cmakeNamespace}}/{{projectLower}}.h
    INCL_PUBL ${CMAKE_CURRENT_SOURCE_DIR}/include/
)
add_dependencies("{{cmakeNamespace}}" "{{cmakeNamespace}}::{{project}}")

archie_cxx_executable("{{cmakeNamespace}}" "{{project}}-main"
    SRCS      ${CMAKE_CURRENT_SOURCE_DIR}/src/{{projectLower}}_main.cpp
    DEPS_PRIV {{cmakeNamespace}}::{{project}}
)

if(ARCHIE_ENABLE_TESTING)
  archie_cxx_test("{{cmakeNamespace}}" "{{project}}-test"
    SRCS      ${CMAKE_CURRENT_SOURCE_DIR}/test/{{projectLower}}_test.cpp
    DEPS_PRIV {{cmakeNamespace}}::{{project}}
  )
endif()

if(DOXYGEN_FOUND)
  doxygen_add_docs("{{cmakeNamespace}}-docs"
      "include" "src")
  add_dependencies("docs" "{{cmakeNamespace}}-docs")
endif()
if(ARCHIE_SPHINX_FOUND)
  archie_sphinx_add_docs("{{cmakeNamespace}}-site"
      "docs")
  add_dependencies("site" "{{cmakeNamespace}}-site")
endif()
