project({{cmakeNamespace}}-{{project}}
    DESCRIPTION "A simple C++ project"
    LANGUAGES CXX)
cmake_minimum_required(VERSION 3.13.5)


{{{resource-cmake-defaults}}}


{{{resource-cmake-builds}}}


# === Adding individual libraries =============================================

archie_cxx_library_shared("{{cmakeNamespace}}" "{{project}}"
    SRCS      ${CMAKE_CURRENT_SOURCE_DIR}/src/{{projectLower}}.cpp
              ${CMAKE_CURRENT_SOURCE_DIR}/include/{{cmakeNamespace}}/{{projectLower}}.h
    INCL_PUBL ${CMAKE_CURRENT_SOURCE_DIR}/include/
)

archie_cxx_executable("{{cmakeNamespace}}" "{{project}}-main"
    SRCS      ${CMAKE_CURRENT_SOURCE_DIR}/src/{{projectLower}}_main.cpp
    DEPS_PRIV {{cmakeNamespace}}::{{project}}
)

if(BUILD_TESTING)
  archie_cxx_test("{{cmakeNamespace}}" "{{project}}-test"
    SRCS      ${CMAKE_CURRENT_SOURCE_DIR}/test/{{projectLower}}_test.cpp
    DEPS_PRIV {{cmakeNamespace}}::{{project}}
  )
endif()
