#include "{{cmakeNamespace}}/{{project}}.h"
#include "gtest/gtest.h"

TEST({{project}}, sum_zero)
{
  {{cppNamespace}}::{{project}} obj;
  ASSERT_EQ(obj.add(1, -1), 0);
}

TEST({{project}}, sum_five)
{
  {{cppNamespace}}::{{project}} obj;
  ASSERT_EQ(obj.add(2, 3), 5);
}

